<!DOCTYPE html>
<html>

<head>
    <title> The Food Mart | Store</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="styles.css" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="store.js" defer></script>
</head>

<body>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="store.html">STORE</a></li>
                <li><a href="about.html">ABOUT</a></li>
            </ul>
        </nav>
        <h1 class="band-name band-name-large">The Food Mart</h1>
    </header>
    <section class="container content-section">

        
        <h2 class="section-header">MUSIC</h2>
        <div class="shop-items">
            <% items.music.forEach(function(item) { %>
        <div class="shop-item" data-item-id="<%= item.id %>">
            <span class="shop-item-title"><%= item.name %></span>
            <img class="shop-item-image" src="images/<%= item.imgName %>">
            <div class="shop-item-details">
                <span class="shop-item-price">K<%= item.price / 100 %></span>
                <button class= "btn btn-primary shop-item-button" role="button">ADD TO CART</button>
            </div>
        </div>
    <% }) %>
        </div>
          
    </section>
    <section class="container content-section">
        <h2 class="section-header">MERCH</h2>
        <div class="shop-items">
            <% items.merch.forEach(function(item) { %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">K<%= item.price / 100 %></span>
                        <button class="btn btn-primary shop-item-button" role="button">ADD TO CART</button>
                    </div>
                </div>
            <% }) %>
    </section>
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class= "cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">K0</span>
        </div>
            <button class="btn btn-primary btn-purchase" role="button">PURCHASE</button>
    </section>
    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="band-name">The Food Mart</h3>
            <ul class="nav footer-nav">
                <li>
                    <a href="https://facebook.com" target="_blank"><img src="images/facebook-logo.png" width="50"
                            height="50">
                    </a></li>
                <li>
                    <a href="https://www.instagram.com" target="_blank"><img src="images/instagram logo.png" width="50"
                            height="50">
                    </a></li>
                <li>
                    <a href="https://www.twitter.com" target="_blank"><img src="images/twitter logo.jpg" width="50"
                            height="50">
                    </a></li>
            </ul>
        </div>
    </footer>
</body>

</html>